* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Geneva, Verdana, sans-serif;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.home-container{
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {

  .col-md-3,
  .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}