* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Geneva, Verdana, sans-serif;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.css-6uzb1x {
  padding: 16px;
  width: 80vw !important;
  margin-left: 16px !important;
}

.col-md-3 {
  flex: 0 0 15%;
  max-width: 15%;
}

.col-md-9 {
  flex: 0 0 85%;
  max-width: 85%;
}

.home-container {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {

  .col-md-3,
  .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}